<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Narattr - Narrate your story today!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shownote-styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <div>
            <img src="{{ url_for('static', filename='/img/Narratr-logo.png') }}" alt="Narratr Logo" class="narratrlogo">
        </div>
        <div class="links">
            <a id="username" href="#">Hey there, {{user.first_name}}</a>
            <a href="/logout"><button class="signin">Log Out</button></a>
    </div>
    </div>

    <div>
        <div>
            
            <p class="shownote-date">{{note.date_of_note.strftime('%b-%d-%Y')}}</p>
            <div class="grey-area"><h2 class="shownote-title">{{note.title}}</h2>
            <p class="shownote-note">{{note.note}}</p>
            </div>
        </div>
    </div>
</body>
</html>