<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Narattr - Narrate your story today!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signinstyles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="topnav">
        <div>
            <img src="{{ url_for('static', filename='/img/Narratr-logo.png') }}" alt="Narratr Logo" class="narratrlogo">
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="#">About Us</a>
    </div>
    </div>
    <div class="signin-content">
        <div class="register-box">
            <form action="/register" method="post" class="col-4 p-4 bg-dark text-light">
                <h2 class="text-primary">Register</h2>
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Flash</strong>
                            {% for message in messages %}
                            <p class="red">{{message}}</p>
                            {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                
                <div class="register-body-2">
                    <label for="first_name">First Name:</label><br>
                    <input type="text" name="first_name" class="form-control">
                </div>
                <div class="register-body-2">
                    <label for="last_name">Last Name:</label><br>
                    <input type="text" name="last_name" class="form-control">
                </div>
                <div class="register-body-2">
                    <label for="email">Email:</label><br>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="register-body-2">
                    <label for="password">Password:</label><br>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="register-body-2">
                    <label for="confirm">Confirm Password:</label><br>
                    <input type="password" name="confirm" class="form-control">
                </div>
                
                <input type="submit" value="Register" class="registerbtn">
            </form>
        </div>
        <div class="login-box">
        <form action="/login" method="post" class="col-4 p-4 bg-dark text-light">
            <h2 class="text-primary">Login</h2>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Flash</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="login-body-2">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="login-body-2">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <input type="submit" value="Login" class="loginbtn">
        </form>
        </div>
    </div>
</body>
</html>